<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.temantravellingtourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TemanTravellingTourGuide">
        <activity android:name=".Activity.EditProfileActivity"></activity>
        <activity
            android:name=".Activity.TourGuideActivity"
            android:theme="@style/Theme.TemanTravellingTourGuide.Transparent" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.SignInActivity" />
        <activity android:name=".Activity.WelcomeActivity" />
        <activity android:name=".Activity.HistoryActivity" />
        <activity android:name=".Activity.AccountActivity" android:theme="@style/Theme.TemanTravellingTourGuide.Transparent"/>
        <activity android:name=".Activity.WalletActivity" />
        <activity android:name=".Activity.JobActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/Theme.TemanTravellingTourGuide.Transparent" />
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>